{"http_interactions":[{"request":{"method":"head","uri":"https://api.douban.com/v2?foo=bar","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Accpet":["application/json"], "Authorization":["token 87614b09dd141c22800f96f11737ade5226d7ba8"]}},"response":{"status":{"code":403,"message":"Forbidden"},"headers":{"Content-Type":["text/html; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":""},"http_version":null},"recorded_at":"Mon, 30 Sep 2013 08:56:18 GMT"}],"recorded_with":"VCR 2.6.0"}