{"http_interactions":[{"request":{"method":"get","uri":"https://api.douban.com/v2?foo=bar","body":{"encoding":"US-ASCII","base64_string":""},"headers":{"Accpet":["application/json"], "Authorization":["token 87614b09dd141c22800f96f11737ade5226d7ba8"]}},"response":{"status":{"code":500,"message":"Internal Server Error"},"headers":{"Content-Type":["application/json; charset=utf-8"]},"body":{"encoding":"UTF-8","base64_string":"eyJtc2ciOiIiLCJjb2RlIjo5OTksInJlcXVlc3QiOiJHRVQgXC9zZXJ2aWNl\nXC92MiJ9\n"},"http_version":null},"recorded_at":"Mon, 30 Sep 2013 08:40:18 GMT"}],"recorded_with":"VCR 2.6.0"}